html {
	background: url(http://theblondecoyote.files.wordpress.com/2011/12/thors-hammer-panorama.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

form {
	color: white;
	font-size: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: left;
	margin: 1.5rem;
	height: 2rem;
}

#newListItem {
	font-size: 2rem;
	color: white;
	cursor: pointer;
	transition: color .3s ease;
/*	background: rgba(0,0,0, .75);
	border: 2px solid #f0fc6c;
	border-radius: 5rem;*/
	padding: .5rem;
	display: inline-block;
	position: fixed;
	margin-top: 8rem;
	margin-left: 14rem;
}

#newListItem:hover {
	color: #f0fc6c;
}

input {
	border: 2px solid #f0fc6c;
	background: rgba(0,0,0, .75);
	color: rgba(255,255,255, .75);
	font-size: 2rem;
	padding: .5rem;
	border-radius: 5rem;
}

input:focus {
	outline: none;
}

.button {
	font-size: 1.5rem;
	color: rgba(255,255,255, .75);
	cursor: pointer;
	transition: color .3s ease;
/*	background: rgba(0,0,0, .75);
	border: 2px solid #f0fc6c;
	border-radius: 5rem;
	padding: .5rem;*/
	display: inline-block;
}

.button:hover {
	color: #f0fc6c;
}

#newItemInput {
	color: white;
	font-size: 1rem;
	background: black;
}

.weatherBox {
	float: right;
	width: 20%;
	height: 700px;
	border: 1px red solid;
	margin-top: 7%;
	padding: .5rem;
}

.favoriteLink {
	font-size: 2rem;
	color: white;
	text-align: center;
}

.listContainer {
	float: left;
/*	display: flex;
	justify-content: space-around*/;
/*	background: rgba(0,0,0, .75);
	border: 2px solid #f0fc6c;
	border-radius: 2.5rem;*/
	margin: 6rem;
}

.panel {
	text-align: center;
	font-size: 2rem;
	color: white;
	width: 90%;
	padding-left: 5%;
}

li {
	text-align: left;
}

.taskItem {
	font-size: 1.5rem;
	color: #f0fc6c;
	transition: color .3s ease;
}

.taskItem:hover {
	color: white;
}

a {
	text-decoration: none;
}

#clockbox {
	color: rgba(255,255,255, .75);
	font-size: 8rem;
	text-align: center;
	position: fixed;
	margin-left: 30%;
}